<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>amount</key>
		<integer>1000</integer>
		<key>convertedamount</key>
		<integer>1000</integer>
		<key>currency</key>
		<integer>1</integer>
		<key>date</key>
		<string>2016-07-09</string>
		<key>fromCurrency</key>
		<string>CNY</string>
		<key>time</key>
		<string>09:54:57</string>
		<key>toCurrency</key>
		<string>CNY</string>
	</dict>
	<dict>
		<key>amount</key>
		<integer>1000</integer>
		<key>convertedamount</key>
		<real>115.47410763686</real>
		<key>currency</key>
		<real>0.11547410763686</real>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>CNY</string>
		<key>time</key>
		<string>21:30:00</string>
		<key>toCurrency</key>
		<string>GBP</string>
	</dict>
	<dict>
		<key>amount</key>
		<integer>1000</integer>
		<key>convertedamount</key>
		<real>135.24142778102001</real>
		<key>currency</key>
		<real>0.13524142778102</real>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>CNY</string>
		<key>time</key>
		<string>21:30:59</string>
		<key>toCurrency</key>
		<string>EUR</string>
	</dict>
	<dict>
		<key>amount</key>
		<integer>1000</integer>
		<key>convertedamount</key>
		<real>1160.1094612175</real>
		<key>currency</key>
		<real>1.1601094612175</real>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>CNY</string>
		<key>time</key>
		<string>23:40:33</string>
		<key>toCurrency</key>
		<string>HKD</string>
	</dict>
	<dict>
		<key>amount</key>
		<integer>1000</integer>
		<key>convertedamount</key>
		<real>231.04990055777</real>
		<key>currency</key>
		<real>0.23104990055777</real>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>CNY</string>
		<key>time</key>
		<string>05:45:09</string>
		<key>toCurrency</key>
		<string>AZN</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>115.47</real>
		<key>convertedamount</key>
		<real>115.47</real>
		<key>currency</key>
		<integer>1</integer>
		<key>date</key>
		<string>2016-07-09</string>
		<key>fromCurrency</key>
		<string>GBP</string>
		<key>time</key>
		<string>09:54:57</string>
		<key>toCurrency</key>
		<string>GBP</string>
	</dict>
	<dict>
		<key>amount</key>
		<integer>1000</integer>
		<key>convertedamount</key>
		<real>149.53718242041001</real>
		<key>currency</key>
		<real>0.14953718242041</real>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>CNY</string>
		<key>time</key>
		<string>23:40:35</string>
		<key>toCurrency</key>
		<string>USD</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>115.47</real>
		<key>convertedamount</key>
		<real>999.96442807007998</real>
		<key>currency</key>
		<real>8.6599500135972995</real>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>GBP</string>
		<key>time</key>
		<string>23:40:35</string>
		<key>toCurrency</key>
		<string>CNY</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>115.47</real>
		<key>convertedamount</key>
		<real>1160.0681938851001</real>
		<key>currency</key>
		<real>10.046489944445</real>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>GBP</string>
		<key>time</key>
		<string>23:40:33</string>
		<key>toCurrency</key>
		<string>HKD</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>115.47</real>
		<key>convertedamount</key>
		<real>135.23661698243001</real>
		<key>currency</key>
		<real>1.1711840043510999</real>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>GBP</string>
		<key>time</key>
		<string>21:30:59</string>
		<key>toCurrency</key>
		<string>EUR</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>115.47</real>
		<key>convertedamount</key>
		<real>149.53186309424001</real>
		<key>currency</key>
		<real>1.2949845249348999</real>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>GBP</string>
		<key>time</key>
		<string>21:30:00</string>
		<key>toCurrency</key>
		<string>USD</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>115.47</real>
		<key>convertedamount</key>
		<real>231.04168166689999</real>
		<key>currency</key>
		<real>2.0008805894770001</real>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>GBP</string>
		<key>time</key>
		<string>05:45:09</string>
		<key>toCurrency</key>
		<string>AZN</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>115.47</real>
		<key>convertedamount</key>
		<real>200.85867510132999</real>
		<key>currency</key>
		<real>1.7394879631188001</real>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>GBP</string>
		<key>time</key>
		<string>22:45:02</string>
		<key>toCurrency</key>
		<string>SGD</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>1160.1099999999999</real>
		<key>convertedamount</key>
		<real>1000.0004644238001</real>
		<key>currency</key>
		<real>0.86198762567672005</real>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>HKD</string>
		<key>time</key>
		<string>23:40:35</string>
		<key>toCurrency</key>
		<string>CNY</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>1160.1099999999999</real>
		<key>convertedamount</key>
		<real>1160.1099999999999</real>
		<key>currency</key>
		<integer>1</integer>
		<key>date</key>
		<string>2016-07-09</string>
		<key>fromCurrency</key>
		<string>HKD</string>
		<key>time</key>
		<string>09:54:58</string>
		<key>toCurrency</key>
		<string>HKD</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>1160.1099999999999</real>
		<key>convertedamount</key>
		<real>115.47416126579</real>
		<key>currency</key>
		<real>0.099537251869038001</real>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>HKD</string>
		<key>time</key>
		<string>21:30:00</string>
		<key>toCurrency</key>
		<string>GBP</string>
	</dict>
	<dict>
		<key>amount</key>
		<integer>1000</integer>
		<key>convertedamount</key>
		<real>200.86582028621001</real>
		<key>currency</key>
		<real>0.20086582028621</real>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>CNY</string>
		<key>time</key>
		<string>22:45:02</string>
		<key>toCurrency</key>
		<string>SGD</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>1160.1099999999999</real>
		<key>convertedamount</key>
		<real>149.53725186904001</real>
		<key>currency</key>
		<real>0.12889920082494999</real>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>HKD</string>
		<key>time</key>
		<string>23:40:33</string>
		<key>toCurrency</key>
		<string>USD</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>1160.1099999999999</real>
		<key>convertedamount</key>
		<real>135.24149059036</real>
		<key>currency</key>
		<real>0.11657643722609</real>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>HKD</string>
		<key>time</key>
		<string>21:30:59</string>
		<key>toCurrency</key>
		<string>EUR</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>1160.1099999999999</real>
		<key>convertedamount</key>
		<real>200.86591357309001</real>
		<key>currency</key>
		<real>0.17314385150812001</real>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>HKD</string>
		<key>time</key>
		<string>22:45:02</string>
		<key>toCurrency</key>
		<string>SGD</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>1160.1099999999999</real>
		<key>convertedamount</key>
		<real>231.05000786285001</real>
		<key>currency</key>
		<real>0.19916215519464001</real>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>HKD</string>
		<key>time</key>
		<string>05:45:09</string>
		<key>toCurrency</key>
		<string>AZN</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>135.24000000000001</real>
		<key>convertedamount</key>
		<real>999.98944272445999</real>
		<key>currency</key>
		<real>7.3941839893852004</real>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>EUR</string>
		<key>time</key>
		<string>23:40:35</string>
		<key>toCurrency</key>
		<string>CNY</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>135.24000000000001</real>
		<key>convertedamount</key>
		<real>115.47288854489</real>
		<key>currency</key>
		<real>0.85383679787705002</real>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>EUR</string>
		<key>time</key>
		<string>21:30:00</string>
		<key>toCurrency</key>
		<string>GBP</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>135.24000000000001</real>
		<key>convertedamount</key>
		<real>135.24000000000001</real>
		<key>currency</key>
		<integer>1</integer>
		<key>date</key>
		<string>2016-07-09</string>
		<key>fromCurrency</key>
		<string>EUR</string>
		<key>time</key>
		<string>09:54:58</string>
		<key>toCurrency</key>
		<string>EUR</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>135.24000000000001</real>
		<key>convertedamount</key>
		<real>1160.0972136222999</real>
		<key>currency</key>
		<real>8.5780628040690008</real>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>EUR</string>
		<key>time</key>
		<string>23:40:33</string>
		<key>toCurrency</key>
		<string>HKD</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>135.24000000000001</real>
		<key>convertedamount</key>
		<real>149.53560371517</real>
		<key>currency</key>
		<real>1.1057054400708</real>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>EUR</string>
		<key>time</key>
		<string>21:30:59</string>
		<key>toCurrency</key>
		<string>USD</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>135.24000000000001</real>
		<key>convertedamount</key>
		<real>231.04746130031</real>
		<key>currency</key>
		<real>1.7084254754532999</real>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>EUR</string>
		<key>time</key>
		<string>05:45:09</string>
		<key>toCurrency</key>
		<string>AZN</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>149.53999999999999</real>
		<key>convertedamount</key>
		<real>1000.0188419999999</real>
		<key>currency</key>
		<string>6.687300</string>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>USD</string>
		<key>time</key>
		<string>23:40:35</string>
		<key>toCurrency</key>
		<string>CNY</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>135.24000000000001</real>
		<key>convertedamount</key>
		<real>200.86369969040001</real>
		<key>currency</key>
		<real>1.4852388323751</real>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>EUR</string>
		<key>time</key>
		<string>22:45:02</string>
		<key>toCurrency</key>
		<string>SGD</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>149.53999999999999</real>
		<key>convertedamount</key>
		<real>115.4762834</real>
		<key>currency</key>
		<string>0.772210</string>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>USD</string>
		<key>time</key>
		<string>21:30:00</string>
		<key>toCurrency</key>
		<string>GBP</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>149.53999999999999</real>
		<key>convertedamount</key>
		<real>1160.13132</real>
		<key>currency</key>
		<string>7.758000</string>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>USD</string>
		<key>time</key>
		<string>23:40:33</string>
		<key>toCurrency</key>
		<string>HKD</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>149.53999999999999</real>
		<key>convertedamount</key>
		<real>231.05425399999999</real>
		<key>currency</key>
		<string>1.545100</string>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>USD</string>
		<key>time</key>
		<string>05:45:09</string>
		<key>toCurrency</key>
		<string>AZN</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>149.53999999999999</real>
		<key>convertedamount</key>
		<real>135.243976</real>
		<key>currency</key>
		<string>0.904400</string>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>USD</string>
		<key>time</key>
		<string>21:30:59</string>
		<key>toCurrency</key>
		<string>EUR</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>200.87</real>
		<key>convertedamount</key>
		<real>1000.0208084869</real>
		<key>currency</key>
		<real>4.9784477945281997</real>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>SGD</string>
		<key>time</key>
		<string>23:40:35</string>
		<key>toCurrency</key>
		<string>CNY</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>200.87</real>
		<key>convertedamount</key>
		<real>115.47651047831999</real>
		<key>currency</key>
		<real>0.57488181648986003</real>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>SGD</string>
		<key>time</key>
		<string>21:30:00</string>
		<key>toCurrency</key>
		<string>GBP</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>200.87</real>
		<key>convertedamount</key>
		<real>1160.13360134</real>
		<key>currency</key>
		<real>5.7755443886097</real>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>SGD</string>
		<key>time</key>
		<string>23:40:33</string>
		<key>toCurrency</key>
		<string>HKD</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>200.87</real>
		<key>convertedamount</key>
		<real>135.24424195048999</real>
		<key>currency</key>
		<real>0.67329238786525003</real>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>SGD</string>
		<key>time</key>
		<string>21:30:59</string>
		<key>toCurrency</key>
		<string>EUR</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>200.87</real>
		<key>convertedamount</key>
		<real>149.54029406290999</real>
		<key>currency</key>
		<real>0.74446305602083995</real>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>SGD</string>
		<key>time</key>
		<string>22:45:02</string>
		<key>toCurrency</key>
		<string>USD</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>200.87</real>
		<key>convertedamount</key>
		<real>200.87</real>
		<key>currency</key>
		<integer>1</integer>
		<key>date</key>
		<string>2016-07-09</string>
		<key>fromCurrency</key>
		<string>SGD</string>
		<key>time</key>
		<string>09:54:58</string>
		<key>toCurrency</key>
		<string>SGD</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>200.87</real>
		<key>convertedamount</key>
		<real>231.0547083566</real>
		<key>currency</key>
		<real>1.1502698678578001</real>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>SGD</string>
		<key>time</key>
		<string>05:45:09</string>
		<key>toCurrency</key>
		<string>AZN</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>231.05000000000001</real>
		<key>convertedamount</key>
		<real>1000.0004303928999</real>
		<key>currency</key>
		<real>4.3280693806226003</real>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>AZN</string>
		<key>time</key>
		<string>23:40:35</string>
		<key>toCurrency</key>
		<string>CNY</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>231.05000000000001</real>
		<key>convertedamount</key>
		<real>115.47415733609</real>
		<key>currency</key>
		<real>0.49977994951783</real>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>AZN</string>
		<key>time</key>
		<string>21:30:00</string>
		<key>toCurrency</key>
		<string>GBP</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>149.53999999999999</real>
		<key>convertedamount</key>
		<real>149.53999999999999</real>
		<key>currency</key>
		<integer>1</integer>
		<key>date</key>
		<string>2016-07-09</string>
		<key>fromCurrency</key>
		<string>USD</string>
		<key>time</key>
		<string>09:54:59</string>
		<key>toCurrency</key>
		<string>USD</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>231.05000000000001</real>
		<key>convertedamount</key>
		<real>1160.1099605203999</real>
		<key>currency</key>
		<real>5.0210342372661998</real>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>AZN</string>
		<key>time</key>
		<string>23:40:33</string>
		<key>toCurrency</key>
		<string>HKD</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>231.05000000000001</real>
		<key>convertedamount</key>
		<real>135.24148598796</real>
		<key>currency</key>
		<real>0.58533428257070996</real>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>AZN</string>
		<key>time</key>
		<string>21:30:59</string>
		<key>toCurrency</key>
		<string>EUR</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>149.53999999999999</real>
		<key>convertedamount</key>
		<real>200.86960500000001</real>
		<key>currency</key>
		<string>1.343250</string>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>USD</string>
		<key>time</key>
		<string>22:45:02</string>
		<key>toCurrency</key>
		<string>SGD</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>231.05000000000001</real>
		<key>convertedamount</key>
		<real>149.53724678014001</real>
		<key>currency</key>
		<real>0.64720730049834996</real>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>AZN</string>
		<key>time</key>
		<string>05:45:09</string>
		<key>toCurrency</key>
		<string>USD</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>231.05000000000001</real>
		<key>convertedamount</key>
		<real>231.05000000000001</real>
		<key>currency</key>
		<integer>1</integer>
		<key>date</key>
		<string>2016-07-09</string>
		<key>fromCurrency</key>
		<string>AZN</string>
		<key>time</key>
		<string>09:54:59</string>
		<key>toCurrency</key>
		<string>AZN</string>
	</dict>
	<dict>
		<key>amount</key>
		<real>231.05000000000001</real>
		<key>convertedamount</key>
		<real>200.86590673743001</real>
		<key>currency</key>
		<real>0.86936120639440995</real>
		<key>date</key>
		<string>2016-07-08</string>
		<key>fromCurrency</key>
		<string>AZN</string>
		<key>time</key>
		<string>22:45:02</string>
		<key>toCurrency</key>
		<string>SGD</string>
	</dict>
</array>
</plist>
