<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>#</key>
	<array>
		<dict>
			<key>currentExchange</key>
			<string>128000</string>
			<key>currentName</key>
			<string>KRW</string>
			<key>countryImg</key>
			<string>SouthKorea.png</string>
			<key>countryName</key>
			<string>韩币</string>
		</dict>
		<dict>
			<key>countryName</key>
			<string>人民币</string>
			<key>countryImg</key>
			<string>China.png</string>
			<key>currentName</key>
			<string>CNY</string>
			<key>currentExchange</key>
			<string>100</string>
		</dict>
		<dict>
			<key>countryName</key>
			<string>港币</string>
			<key>countryImg</key>
			<string>HongKong.png</string>
			<key>currentName</key>
			<string>HKD</string>
			<key>currentExchange</key>
			<string>100</string>
		</dict>
		<dict>
			<key>countryName</key>
			<string>英镑</string>
			<key>countryImg</key>
			<string>UnitedKingdomFlag.png</string>
			<key>currentName</key>
			<string>GBP</string>
			<key>currentExchange</key>
			<string>100</string>
		</dict>
		<dict>
			<key>countryName</key>
			<string>欧元</string>
			<key>countryImg</key>
			<string>EuropeanUnionFlag.png</string>
			<key>currentName</key>
			<string>EUR</string>
			<key>currentExchange</key>
			<string>100</string>
		</dict>
		<dict>
			<key>countryName</key>
			<string>美元</string>
			<key>countryImg</key>
			<string>UnitedStates.png</string>
			<key>currentName</key>
			<string>USD</string>
			<key>currentExchange</key>
			<string>100</string>
		</dict>
	</array>
	<key>A</key>
	<array>
		<dict>
			<key>currentExchange</key>
			<string>23.14</string>
			<key>currentName</key>
			<string>AZN</string>
			<key>countryImg</key>
			<string>Azerbaijan.png</string>
			<key>countryName</key>
			<string>阿塞拜疆新马纳特</string>
		</dict>
	</array>
	<key>S</key>
	<array>
		<dict>
			<key>currentExchange</key>
			<string>20.26</string>
			<key>currentName</key>
			<string>SGD</string>
			<key>countryImg</key>
			<string>Singapore.png</string>
			<key>countryName</key>
			<string>新加坡元</string>
		</dict>
	</array>
	<key>I</key>
	<array>
		<dict>
			<key>currentExchange</key>
			<string>232</string>
			<key>currentName</key>
			<string>IDR</string>
			<key>countryImg</key>
			<string>India.png</string>
			<key>countryName</key>
			<string>印度尼西亚卢比</string>
		</dict>
	</array>
</dict>
</plist>
